@charset "UTF-8";

body{
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
    "a     c    d"
    "p     e    f"
    "b     g    h"
    "b     i    j"
   
    ;
    }

h2{
grid-area: p;
}



#a{
    grid-area: a;
    background: url("images/moonlanding.webp");
}