@charset "UTF-8";

article{
    display: grid;
    height: 100vh;
    grid-template-columns:1fr 1fr 1fr 1fr ;
    grid-template-areas: 
    "heat       heat        inside      inside"
    "bankjob    rififi      rififi     usual"
}

#heat{
    grid-area:heat;
    background-size: cover;
    background-image: url(heat.jpg);
}
#inside{
    grid-area:inside;
    background-size: cover;
    background-image: url(insideman.jpg)
}
#usual{
    grid-area:usual;
    background-size: cover;
    background-image: url(usualsuspects.jpg);
}
#bank{
    grid-area:bankjob;
    background-size: cover;
    background-image: url(bankjob.jpg)
}
#rififi{
    grid-area:rififi;
    background-size: cover;
    background-image: url(rififi.jpg)
}

