@charset "UTF-8";



body {
    margin: 0;
    height: 100vh;
    background-size: cover;
    background-position: center;
}



#a{
    background-image: url("grillinspo-grillad-hamburgare-klassisk-cheeseburgare.jpg");
    color: white;
}

#b{
    background-image: url("istockphoto-1053854126-612x612.jpg");
}

#c{
    background-image: url("R01241_Chinese-Hot-Pot.jpg");
    color: white;
}

nav{

    background-color: rgb(255, 255, 255);
    margin: 10px;
    display: grid;
    font-size: larger;
    align-items: center;
    font-size: 1.1rem;
    padding: 24px 48px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    transform: 1.5;
    
}

#div2{
    display: flex;
}

#div2 h3{
    flex: 1;
    margin: 0;
}
