@charset "UTF-8";



main{
    display: grid;
    margin: 1;
    height: 100vh;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
    "b  c   ."
    "d  a   ."
    ".  t   ."
    

    ;
}

#t{
    grid-area: t;
}

#a{ 
    grid-area: a;
    padding: 25px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #353535;
    background: #6a6a6a;
    background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
}

#b{
    grid-area: b;
    padding: 25px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #353535;
    background: #6a6a6a;
    background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));

}

#c{
    grid-area: c;
    padding: 25px;
    margin: 5px;
    border-radius: 5px;
    box-shadow: 10px 10px 10px #353535;
    background: #6a6a6a;
    background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));

}

#d{
    grid-area: d;
        width: 300px;  
        height: auto;  
        border-radius: 10px;
        margin: 20px;
        padding: 25px;
        margin: 5px;
        border-radius: 5px;
        box-shadow: 10px 10px 10px #353535;
        background: #6a6a6a;
        background: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255));
    }

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    background-color: white;
    color: black;
}

nav{

    background-color: rgb(255, 255, 255);
    margin: 10px;
    color: black;
    display: grid;
    font-size: larger;
    color: black;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
    padding: 12px 24px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    position: -webkit-sticky;
    top: 0;
    z-index: 0;
    
}

header{
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    text-align: left;
    padding: 10px;
}

#tuff{
    display: flex;
}

#tuff h3{
    flex: 1;
    margin: 0;
}

h4{
    font-size: x-large;
    margin: 0;
}

#main3{
    display: grid;
    margin: 1;
    padding: 10px;
    height: 100vh;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "f   s"
    ".   ."
}

#f{
    grid-area: f;
    padding: 25px;
    margin: 5px;
    border-radius: 20px;
    box-shadow: 20px 20px 20px #999;
    background: #6a6a6a;
    background: linear-gradient(rgb(0, 0, 0), rgb(60, 3, 3));
    color: white;
}

#s{
    grid-area: s;
    padding: 25px;
    margin: 5px;
    border-radius: 20px;
    box-shadow: 20px 20px 20px #999;
    background: #6a6a6a;
    background: linear-gradient(rgb(0, 0, 0), rgb(60, 3, 3));
    color: white;
}