@charset "UTF-8";

a{
    text-decoration: none;
    display: block;
    padding: 12px;
    color: purple;
    font-size: 110%;
}

ul{
    margin: 0;
    padding: 0;
}

ul li{
    list-style-type: none;
}

#mainMenu{
    display: flex;
}

#mainMenu > ul > li{
    position: relative;
}

#SubMenu{
    display: none;
    position: absolute;
    overflow: hidden;
    transition: 0.3s;
}

#mainMenu > li:hover #SubMenu{
    display: block;
}