@charset "UTF-8";

:root{
    font-size: 16px;
    --bg-light: white hsl(200, 65%, 91%);
    --bg-dark: black hsl(200, 16%, 4%);
}

body{
    margin: 0;
}

p, h4{
font-size: 25px; 
}

nav{
    background-color: rgb(143, 139, 139);
    position: fixed;
    top: 0;
    width: 100%;
}

main{
    margin-top: 5%;
}

header{
    margin-top: 5%;
}

footer{
    margin-top: 5%;
}

article{
    margin-top: 5%;

}

aside{
    margin-top: 5%;
}

section{
    margin-top: 5%;
}

@media (max-width: 1000px){
    :root{
        font-size: 16px;
        --bg-light:black;
    }
}