@charset "UTF-8";

body {
margin: 0;
background: white;
    
}

section {
    margin: 10px;
    background: #563208;
    color: white;
    border-radius: 10px;
    box-shadow: 4px 4px 6px;
}

header {
    color: white;
    font: 2em georgia;
}

header footer{
    padding: .8rem;
}

header h2{
    margin: 0;
}

div {
    height: 140px;
    background-size: cover;
    background-position: center;
}

#mars {
    background: url(images/mars.jpg) center;
    background-size: cover;
}

#bounty {
    background: url(images/bounty.jpg) center;
    background-size: cover;
}

#twix {
    background: url(images/twix.jpg) center;
    background-size: cover;
}

#japp {
    background: url(images/japp.jpg) center;
    background-size: cover;
}

#coco {
    background: url(images/coco.png) center #fff;
    background-size: cover;
}

footer p {
    font-family: 'Fira Sans', sans-serif;
    margin: 0;
}

main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
